{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
    <section class="container1">

        <div class="row">
            <div class="col-12">
                <h1>
                    Messagerie
                </h1>
                <h2>Boîte de reception</h2>

                <p>Vous avez reçu : {{ app.user.received| length }} messages</p>

            </div>
            <div class="col-3">DE</div>
            <div class="col-3">SUJET</div>
            <div class="col-3">DATE</div>
            <div class="col-3">ACTIONS</div>
            {% for message in app.user.received %}
                {% if message.isRead == 1 %}
                {% set bold = 'fw-bold' %}
                {% else %}
                    {% set bold = ''%}
                    {% endif %}
                <div class="col-3 "> {{ message.sender.pseudo }}, {{ message.sender.email }} </div>
                <div class="col-3 "><a href="{{ path('read',{id:message.id}) }}"> {{ message.title }}</a></div>
                <div class="col-3 ">{{ message.createdAt|date }}</div>
                <div class="col-3">
                    <a href="{{ path('delete', {id:message.id}) }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill text-danger" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                    </svg>
                    </a>
                </div>
            {% endfor %}
            <div class="col">

                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                    Voir mes dossiers
                </a>
                <a href="{{ path('send') }}" class="btn btn-primary"> Envoyer un message</a>
            </div>
        </div>
    </section>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasExampleLabel">MES  DOSSIERS</h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="list-group">

                <a href="{{ path('app_messages') }}" class="list-group-item list-group-item-action ">Accueil</a>

            </div>
            <div class="list-group">

                <a href="{{ path('received') }}" class="list-group-item list-group-item-action active">Boite de reception</a>

            </div>

            <div class="list-group">

                <a href="{{ path('sent') }}" class="list-group-item list-group-item-action ">Eléments envoyés</a>

            </div>


        </div>
    </div>
{% endblock %}


